body {
  font-family: Arial, Tahoma, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  direction: rtl;
}

/* Splash Screen */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('pshtiwan-logo.jpg');
  background-color: #fff;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

/* Header */
.site-header {
  background: linear-gradient(135deg,#ffffff,#ffffff,#ffffff);
  padding: 60px 20px;
  color: #000000;
}

.header-logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,.35);
  margin-bottom: 15px;
}

.site-header h1 {
  font-size: 28px;
  margin: 10px 0;
}

.site-header p {
  margin: 6px 0;
  font-size: 16px;
}

/* Social Links */
.social-links {
  padding: 40px 20px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 35px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  min-width: 180px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  transition: 0.3s;
}

.social-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

.social-btn img {
  width: 20px;
  height: 20px;
}

.whatsapp { background:#25D366; }
.facebook { background:#1877F2; }
.telegram { background:#0088CC; }
.tiktok { background:#000; }
.instagram { background:darkred; }

/* Mobile Numbers right-aligned with English format */
/* Mobile Numbers centered */
.mobile-numbers-center {
  margin-top: 30px;
  text-align: center;  /* هەموو شت لە ناوەڕاست */
  direction: ltr;      /* ژمارەکان به شێوەی انگلیزی بخوێنرێن */
}

.mobile-numbers-center h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}

.mobile-numbers-center p {
  font-size: 16px;
  margin: 5px 0;
  color: #000;
  font-weight: bold;
}


footer {
  background: #000;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
}
